<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EZgreen</title>
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- MATERIAL ICON FONT -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">


            {{#if user}}
            <li role="presentation"><img src='{{profilePic}}' class='w3-left w3-circle w3-margin-right' style="height:3em"></li>
            <li role="presentation"><a href="/dashboard">Dashboard</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}

          </ul>
        </nav>
        <div class="logo">
						<a href="/">EZgreen</a>
					</div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          {{{body}}}
      </div>
      <footer class="footer">
            <div class="container">
              <p>&copy; 2017 EZgreen, Inc.</p>
            </div>
          </footer>

    </div> <!-- /container -->
  </body>
</html>
